<table>
	<tr class="lead"><td>Name : </td><td><%= @user.username %></td></tr>
	<tr class="lead"><td>Location : </td><td><%= @user.location %></td></tr>
	<tr  class="lead"><td>email : </td><td><%= @user.email %></td></tr>
</table>
